apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments:
      - "--entryPoints.web.forwardedHeaders.trustedIPs=10.42.0.0/16"
      - "--entryPoints.websecure.forwardedHeaders.trustedIPs=10.42.0.0/16"
