apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16

          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"

          securityContext:
            allowPrivilegeEscalation: false

          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "1Gi"
              cpu: "1000m"

          ports:
            - containerPort: 8989
          volumeMounts:
            - name: media
              mountPath: /data
            - name: config
              mountPath: /config

      volumes:
        - name: media
          hostPath:
            path: ${BASE_PATH}/data
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-config
