apiVersion: apps/v1
kind: Deployment
metadata:
  name: huntarr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: huntarr
  template:
    metadata:
      labels:
        app: huntarr
    spec:
      containers:
        - name: huntarr
          image: ghcr.io/plexguide/huntarr:9.1.7

          ports:
            - containerPort: 9705

          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Asia/Jerusalem"

          securityContext:
            allowPrivilegeEscalation: false

          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          volumeMounts:
            - name: config
              mountPath: /config

      volumes:
        - name: config
          persistentVolumeClaim:
            claimName: huntarr-config
