---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: qbittorrent
  labels:
    app: qbittorrent
spec:
  replicas: 1
  selector:
    matchLabels:
      app: qbittorrent
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      containers:
      - name: gluetun
        image: qmcgaw/gluetun:latest
        # gluetun needs NET_ADMIN to create tun0 and manage iptables
        securityContext:
          capabilities:
            add: [ "NET_ADMIN" ]
        env:
        - name: VPN_SERVICE_PROVIDER
          value: "nordvpn"
        - name: OPENVPN_USER
          valueFrom:
            secretKeyRef:
              name: vpn-creds
              key: username
        - name: OPENVPN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: vpn-creds
              key: password
        - name: DISABLE_IP6
          value: "on"
        - name: SERVER_COUNTRIES
          value: "Israel"
        - name: QBITTORRENT_ENABLED
          value: "on"
        - name: QBITTORRENT_WEBUI_PORT
          value: "8081"
        - name: QBITTORRENT_LISTEN_PORT
          value: "6881"
        - name: FIREWALL
          value: "on"
        - name: FIREWALL_INPUT_PORTS
          value: "8081,6881"
        - name: FIREWALL_VPN_INPUT_PORTS
          value: "6881"
        - name: FIREWALL_OUTBOUND_SUBNETS
          value: "10.42.0.0/16,192.168.0.0/16"
        ports:
        - name: webui
          containerPort: 8081
          protocol: TCP
        - name: torrent-tcp
          containerPort: 6881
          protocol: TCP
        - name: torrent-udp
          containerPort: 6881
          protocol: UDP
        volumeMounts:
        - name: gluetun-config
          mountPath: /gluetun
        - name: downloads
          mountPath: /data/torrents
        readinessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 20
          periodSeconds: 10
          failureThreshold: 3
          successThreshold: 1
        livenessProbe:
          httpGet:
            path: /
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 30
          failureThreshold: 3
      # make sure restart policy allows for healing
      restartPolicy: Always
      volumes:
      - name: gluetun-config
        hostPath:
          path: /mnt/data/configs/gluetun
          type: DirectoryOrCreate
      - name: downloads
        hostPath:
          path: /mnt/data/torrents
          type: DirectoryOrCreate
