---
apiVersion: v1
kind: Service
metadata:
  name: qbittorrent
  labels:
    app: qbittorrent
spec:
  type: NodePort
  selector:
    app: qbittorrent
  ports:
  - name: webui
    protocol: TCP
    port: 8081
    targetPort: 8081
    nodePort: 30081
  - name: torrent-tcp
    protocol: TCP
    port: 6881
    targetPort: 6881
    nodePort: 30082
  - name: torrent-udp
    protocol: UDP
    port: 6881
    targetPort: 6881
    nodePort: 30083
