apiVersion: apps/v1
kind: Deployment
metadata:
  name: cleanuperr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cleanuperr
  template:
    metadata:
      labels:
        app: cleanuperr
    spec:
      containers:
        - name: cleanuperr
          image: ghcr.io/flmorg/cleanuperr:1.6.8

          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"

          securityContext:
            allowPrivilegeEscalation: false

          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          envFrom:
            configMapRef:
              name: cleanuperr-config

          volumeMounts:
            - name: config
              mountPath: /config
            - name: torrents
              mountPath: /downloads

      volumes:
        - name: config
          hostPath:
            path: ${BASE_PATH}/configs/cleanuperr
            type: DirectoryOrCreate
        - name: torrents
          hostPath:
            path: ${BASE_PATH}/data/media/torrents
            type: DirectoryOrCreate
