apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: external-dns
  template:
    metadata:
      labels:
        app: external-dns
    spec:
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        image: registry.k8s.io/external-dns/external-dns:v0.15.0
        args:
        - --source=service
        - --source=ingress
        - --domain-filter=homelab  # Match .homelab local domain
        - --provider=pihole
        - --pihole-server=http://192.168.50.20  # Pi-hole IP
        - --pihole-api-version=6
        - --registry=noop
        - --policy=upsert-only
        - --log-level=debug
        env:
        - name: EXTERNAL_DNS_PIHOLE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: pihole-password
              key: EXTERNAL_DNS_PIHOLE_PASSWORD
