apiVersion: apps/v1
kind: Deployment
metadata:
  name: jfa-go
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jfa-go
  template:
    metadata:
      labels:
        app: jfa-go
    spec:
      containers:
        - name: jfa-go
          image: hrfee/jfa-go:latest

          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"

          securityContext:
            allowPrivilegeEscalation: false

          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"

          ports:
            - containerPort: 8056
          volumeMounts:
            - name: config-jellyfin
              mountPath: /jf
            - name: config
              mountPath: /data
            - name: localtime
              mountPath: /etc/localtime

      volumes:
        - name: config-jellyfin
          hostPath:
            path: ${BASE_PATH}/configs/jellyfin
            type: Directory
        - name: config
          hostPath:
            path: ${BASE_PATH}/configs/jfa-go
            type: Directory
        - name: localtime
          hostPath:
            path: /etc/localtime
            type: File
